@tailwind base;
@tailwind components;
@tailwind utilities;

#note-container::-webkit-scrollbar {
    width: 3px;
}

#note-container::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
}

#note-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(170, 170, 170);
}